In [1]:
import os

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
os.chdir('C:/Users/basleal/Desktop/tutorial/kaim-week-6')
print(os.getcwd())

C:\Users\basleal\Desktop\tutorial\kaim-week-6

In [4]:
path = 'C:/Users/basleal/Desktop/tutorial/kaim-week-6/data/data_ready_train.csv'

In [5]:
data=pd.read_csv(path)

In [6]:
data.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,Amount,Value,...,ProductCategory_financial_services,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,5,ProductId_10,0.092004,0.000101,...,0,0,0,0,0,0,0,0,1,0
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,3,ProductId_6,0.091910,0.000002,...,1,0,0,0,0,0,0,1,0,0
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,5,ProductId_1,0.091958,0.000050,...,0,0,0,0,0,0,0,0,1,0
3,3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,0,ProductId_21,0.093750,0.002206,...,0,0,0,0,0,0,1,0,1,0
4,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,3,ProductId_6,0.091853,0.000065,...,1,0,0,0,0,0,0,1,0,0

In [7]:
data.columns

Index(['Unnamed: 0', 'TransactionId', 'BatchId', 'AccountId', 'SubscriptionId',
       'CustomerId', 'ProviderId', 'ProductId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'FraudResult',
       'TransactionHour', 'TransactionDay', 'TransactionMonth',
       'TransactionYear', 'ProductCategory_data_bundles',
       'ProductCategory_financial_services', 'ProductCategory_movies',
       'ProductCategory_other', 'ProductCategory_ticket',
       'ProductCategory_transport', 'ProductCategory_tv',
       'ProductCategory_utility_bill', 'ChannelId_ChannelId_2',
       'ChannelId_ChannelId_3', 'ChannelId_ChannelId_5'],
      dtype='object')

Now we calculate the rfms values of each user to classify them as good or bad

In [10]:
from scripts.default_estimator import normalize_columns,aggregate,calculate_rfms_score
rfms=aggregate(data)
rfms

           CustomerId  Recency  Frequency  Monetary
0        CustomerId_1       83          1  0.090993
1       CustomerId_10       83          1  0.090993
2     CustomerId_1001       89          5  0.461397
3     CustomerId_1002       25         11  1.011418
4     CustomerId_1003       11          6  0.553309
...               ...      ...        ...       ...
3737   CustomerId_992        4          6  0.553309
3738   CustomerId_993       25          5  0.461397
3739   CustomerId_994        0        101  9.333077
3740   CustomerId_996       67         17  1.575276
3741   CustomerId_998        0         22  2.031250

[3742 rows x 4 columns]

These are our rfms values and we will use those to classify the bad vs good

In [11]:
#normalize our columns
rfms=normalize_columns(rfms)
rfms

,CustomerId,Recency,Frequency,Monetary,Recency_Scaled,Frequency_Scaled,Monetary_Scaled
0,CustomerId_1,83,1,0.090993,0.922222,0.000000,0.000048
1,CustomerId_10,83,1,0.090993,0.922222,0.000000,0.000048
2,CustomerId_1001,89,5,0.461397,0.988889,0.000978,0.001059
3,CustomerId_1002,25,11,1.011418,0.277778,0.002445,0.002560
4,CustomerId_1003,11,6,0.553309,0.122222,0.001222,0.001310
...,...,...,...,...,...,...,...
3737,CustomerId_992,4,6,0.553309,0.044444,0.001222,0.001310
3738,CustomerId_993,25,5,0.461397,0.277778,0.000978,0.001059
3739,CustomerId_994,0,101,9.333077,0.000000,0.024450,0.025279
3740,CustomerId_996,67,17,1.575276,0.744444,0.003912,0.004100
3741,CustomerId_998,0,22,2.031250,0.000000,0.005134,0.005345

In [12]:
#Compute RFMS score and classify
rfms = calculate_rfms_score(rfms)
rfms

,CustomerId,Recency,Frequency,Monetary,Recency_Scaled,Frequency_Scaled,Monetary_Scaled,RFMS_Score,Classification
0,CustomerId_1,83,1,0.090993,0.922222,0.000000,0.000048,0.368903,Good
1,CustomerId_10,83,1,0.090993,0.922222,0.000000,0.000048,0.368903,Good
2,CustomerId_1001,89,5,0.461397,0.988889,0.000978,0.001059,0.396167,Good
3,CustomerId_1002,25,11,1.011418,0.277778,0.002445,0.002560,0.112613,Good
4,CustomerId_1003,11,6,0.553309,0.122222,0.001222,0.001310,0.049649,Bad
...,...,...,...,...,...,...,...,...,...
3737,CustomerId_992,4,6,0.553309,0.044444,0.001222,0.001310,0.018537,Bad
3738,CustomerId_993,25,5,0.461397,0.277778,0.000978,0.001059,0.111722,Good
3739,CustomerId_994,0,101,9.333077,0.000000,0.024450,0.025279,0.014919,Bad
3740,CustomerId_996,67,17,1.575276,0.744444,0.003912,0.004100,0.300181,Good
3741,CustomerId_998,0,22,2.031250,0.000000,0.005134,0.005345,0.003144,Bad

As we can see we have classified our data as good vs bad

We need to merge it with our data again

In [14]:
data = data.merge(rfms[['CustomerId', 'Classification']], on='CustomerId', how='left')
data

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,Amount,Value,...,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5,DaysSinceLast,Classification_x,Classification_y
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,5,ProductId_10,0.092004,0.000101,...,0,0,0,0,0,1,0,90,Bad,Bad
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,3,ProductId_6,0.091910,0.000002,...,0,0,0,0,1,0,0,90,Bad,Bad
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,5,ProductId_1,0.091958,0.000050,...,0,0,0,0,0,1,0,90,Good,Good
3,3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,0,ProductId_21,0.093750,0.002206,...,0,0,0,1,0,1,0,90,Bad,Bad
4,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,3,ProductId_6,0.091853,0.000065,...,0,0,0,0,1,0,0,90,Bad,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,3,ProductId_6,0.091820,0.000101,...,0,0,0,0,1,0,0,0,Bad,Bad
95658,95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,5,ProductId_10,0.092004,0.000101,...,0,0,0,0,0,1,0,0,Bad,Bad
95659,95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,3,ProductId_6,0.091910,0.000002,...,0,0,0,0,1,0,0,0,Bad,Bad
95660,95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,5,ProductId_19,0.092188,0.000303,...,0,0,1,0,0,1,0,0,Bad,Bad
95661,95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,3,ProductId_6,0.091906,0.000006,...,0,0,0,0,1,0,0,0,Bad,Bad

In [19]:
data

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,Amount,Value,...,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5,DaysSinceLast,Classifications
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,5,ProductId_10,0.092004,0.000101,...,0,0,0,0,0,0,1,0,90,Bad
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,3,ProductId_6,0.091910,0.000002,...,0,0,0,0,0,1,0,0,90,Bad
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,5,ProductId_1,0.091958,0.000050,...,0,0,0,0,0,0,1,0,90,Good
3,3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,0,ProductId_21,0.093750,0.002206,...,0,0,0,0,1,0,1,0,90,Bad
4,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,3,ProductId_6,0.091853,0.000065,...,0,0,0,0,0,1,0,0,90,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,3,ProductId_6,0.091820,0.000101,...,0,0,0,0,0,1,0,0,0,Bad
95658,95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,5,ProductId_10,0.092004,0.000101,...,0,0,0,0,0,0,1,0,0,Bad
95659,95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,3,ProductId_6,0.091910,0.000002,...,0,0,0,0,0,1,0,0,0,Bad
95660,95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,5,ProductId_19,0.092188,0.000303,...,0,0,0,1,0,0,1,0,0,Bad
95661,95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,3,ProductId_6,0.091906,0.000006,...,0,0,0,0,0,1,0,0,0,Bad

In [8]:
import sidetable
import matplotlib.pyplot as plt
import seaborn

In [12]:
import scorecardpy
from monotonic_binning.monotonic_woe_binning import Binning