In [6]:
import os
import pandas as pd
os.chdir('C:/Users/basleal/Desktop/tutorial/kaim-week-6')
print(os.getcwd())

C:\Users\basleal\Desktop\tutorial\kaim-week-6

In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
path = 'C:/Users/basleal/Desktop/tutorial/kaim-week-6/data/data.csv'

In [10]:
data=pd.read_csv(path)

In [11]:
data.columns

Index(['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 'CustomerId',
       'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'FraudResult'],
      dtype='object')

In [12]:
from scripts.feature_eng import num_aggregate
agg_num=num_aggregate(data)
agg_num

,CustomerId,CountryCode,Amount,Value,PricingStrategy,FraudResult
0,CustomerId_1,256.0,-10000.000000,10000.000000,4.000000,0.0
1,CustomerId_10,256.0,-10000.000000,10000.000000,4.000000,0.0
2,CustomerId_1001,256.0,4000.000000,6080.000000,2.000000,0.0
3,CustomerId_1002,256.0,384.090909,434.090909,2.909091,0.0
4,CustomerId_1003,256.0,3333.333333,5333.333333,2.000000,0.0
...,...,...,...,...,...,...
3737,CustomerId_992,256.0,3333.333333,5333.333333,2.000000,0.0
3738,CustomerId_993,256.0,4000.000000,6400.000000,2.000000,0.0
3739,CustomerId_994,256.0,5384.881188,6079.970297,2.039604,0.0
3740,CustomerId_996,256.0,8176.470588,8882.352941,2.000000,0.0
3741,CustomerId_998,256.0,4545.454545,7409.090909,2.818182,0.0

In [19]:
from scripts.feature_eng import cat_aggregate
agg_cat=cat_aggregate(data)
agg_cat

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,ProviderId,ProductId,ProductCategory,ChannelId,TransactionStartTime
CustomerId,,,,,,,,,,,
CustomerId_1,TransactionId_51888,BatchId_22790,AccountId_1074,SubscriptionId_4836,CustomerId_1,UGX,ProviderId_4,ProductId_10,airtime,ChannelId_2,2018-11-21T16:49:14Z
CustomerId_10,TransactionId_24254,BatchId_4854,AccountId_1074,SubscriptionId_4836,CustomerId_10,UGX,ProviderId_4,ProductId_3,airtime,ChannelId_2,2018-11-21T16:49:09Z
CustomerId_1001,TransactionId_11879,BatchId_118083,AccountId_661,SubscriptionId_4753,CustomerId_1001,UGX,ProviderId_4,ProductId_10,financial_services,ChannelId_3,2018-11-16T07:53:19Z
CustomerId_1002,TransactionId_102164,BatchId_10941,AccountId_4841,SubscriptionId_3829,CustomerId_1002,UGX,ProviderId_4,ProductId_6,financial_services,ChannelId_2,2018-11-15T18:50:09Z
CustomerId_1003,TransactionId_124850,BatchId_121394,AccountId_663,SubscriptionId_3559,CustomerId_1003,UGX,ProviderId_6,ProductId_10,airtime,ChannelId_3,2019-02-01T14:58:07Z
...,...,...,...,...,...,...,...,...,...,...,...
CustomerId_992,TransactionId_110861,BatchId_115940,AccountId_652,SubscriptionId_2615,CustomerId_992,UGX,ProviderId_6,ProductId_10,airtime,ChannelId_3,2019-02-08T10:23:23Z
CustomerId_993,TransactionId_107496,BatchId_102009,AccountId_653,SubscriptionId_4236,CustomerId_993,UGX,ProviderId_4,ProductId_10,financial_services,ChannelId_3,2019-01-18T15:51:50Z
CustomerId_994,TransactionId_100294,BatchId_101233,AccountId_654,SubscriptionId_2266,CustomerId_994,UGX,ProviderId_6,ProductId_6,financial_services,ChannelId_3,2018-11-15T18:37:07Z
CustomerId_996,TransactionId_10585,BatchId_28262,AccountId_656,SubscriptionId_3753,CustomerId_996,UGX,ProviderId_1,ProductId_15,financial_services,ChannelId_3,2018-12-07T14:37:54Z
CustomerId_998,TransactionId_11160,BatchId_102067,AccountId_658,SubscriptionId_3215,CustomerId_998,UGX,ProviderId_4,ProductId_6,airtime,ChannelId_3,2019-01-18T20:58:22Z